body {
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    transition: var(--transition);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


:root {
    --bg: #11141e;
    --bg-card: #1a1f2f;
    --bg-card-2:#272e46;
    --title: #f3f6f4;
    --title-hover: #f3f6f499;
    --sub-title: #A5A5A5;
    --sub-tittle-2: #7e7e7e;
    --btn: #79f0ff;
    --btn-hover: #79efff99;
    --btn-2: #ff914d;
    --btn-2-hover: #ff914d99;
    --montse: "Montserrat", serif;
    --roboto: "Roboto", sans-serif;
    --open-sans: "Open Sans", serif;
    --transition: ease-in 0.3s;

}

@media (min-width: 768px){
    
    nav {
        text-align: center;
        width: 100%;
        height: 10%;
        display: flex;
    }

    nav img {
        margin: 1.25rem;
        width: auto;
        height: 90%;
    }
    
    nav ul {
        align-items: center;
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    nav ul li a {
        color: var(--title);
        font-family: var(--montse);
        font-weight: 900;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 1.15rem;
        transition: var(--transition);
    }

    nav ul li {
        cursor: pointer !important;
    }

    nav ul li:hover a {
        color: var(--title-hover);
        transform: translateY(-10px);
    }

    nav ul li a iconify-icon {
        margin: 0 0.5rem;
    }

    footer {
        display: flex;
        width: 95%;
        margin: 2.5%;
        border-radius: 2rem;
        border-top: solid var(--bg-card) 0.25rem;
    }

    .logo {
        margin: 2.5%;
        width: 20%;
        height: auto;
        text-align: center;
    }

    .logo img {
        width: 90%;
        
    }

    .logo p {
        font-family: var(--roboto);
        font-size: 0.75rem;
        color: var(--sub-title);
        margin-top: 0.5rem;
    }

    .logo p a {
        color: var(--btn);
        font-weight: 900;
        text-decoration: none;
        transition: var(--transition);
    }

    .info-footer {
        margin: 2.5%;
        width: 75%;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .redes {
        margin: 2.5%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 3rem;
    }

   .redes a {
        color: var(--title);
        font-family: var(--open-sans);
        font-size: 3rem;
        margin-right: 1rem;
        transition: var(--transition);
    }

    .redes a iconify-icon {
        transition: var(--transition);
    }

    .redes a:hover iconify-icon {
        color: var(--btn);
        transform: translateY(-10px);
    }

    .term {
        margin: 2.5%;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 1.15rem;
        transition: var(--transition);
    }

    .term a {
        color: var(--sub-tittle-2);
        font-family: var(--roboto);
        transition: var(--transition);
    }

    .term a:hover {
        color: var(--title);
    }
    
    .container {
        display: flex;
        width: 100%;
        height: auto;
    }

    .content-1,.content-2 {
        width: 20%;
        margin: 2.5%;
        height: auto;
        border-radius: 1rem;
        background-color: var(--bg-card);
    }

    .content {
        width: 60%;
        margin: 2.5% 0;
        height: auto;
        border-radius: 1rem;
        background-color: var(--bg-card);
    }

    .content-index {
        margin: 5%;
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .content-index a {
        color: var(--title);
        font-family: var(--roboto);
        font-size: 1.15rem;
        border-radius: 1rem;
        background-color: var(--bg-card-2);
        transition: var(--transition);
        display: flex;
        text-align: center;
    }

    .content-index a img {
        width: 45%;
        margin: 2.5%;
        height: auto;
    }

    .info-content {
        width: 50%;
    }

    .info-content h1 {
        font-family: var(--montse);
        font-size: 1.5rem;
        color: var(--title);
        margin-bottom: 1rem;
    }

    .info-content p {
        font-family: var(--roboto);
        font-size: 1rem;
        color: var(--sub-title);
        margin-bottom: 2rem;
    }

    .content-term {
        margin: 5%;
        background-color: var(--bg-card);
        width: 90%;
        border-radius: 1rem;
        color: #79f0ff;
        height: auto;
        min-height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.15rem;
        transition: var(--transition);
    }

    .contacto {
        margin: 5%;
        background-color: var(--bg-card-2);
        border-radius: 1rem;
        color: #79f0ff;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.15rem;
        transition: var(--transition);
    }

    .contacto h2 {
        font-family: var(--montse);
        font-size: 2rem;
        color: var(--title);
        margin-bottom: 3rem;
    }

    .contacto form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .contacto form label {
        font-family: var(--roboto);
        font-size: 1rem;
        color: var(--sub-title);
    }

    .contacto form input {
        width: 80%;
        border-radius: 1rem;
        border: none;
        background: none;
        outline: none;
        border-bottom: var(--bg-card) solid 0.15rem;
        color: var(--title);
        transition: var(--transition);
    }

    .contacto form textarea {
        width: 80%;
        border-radius: 1rem;
        border: none;
        background-color: #1a1f2f;
        outline: none;
        color: var(--title);
        height: 150px;
        resize: none;
        transition: var(--transition);
    }

    .contacto form button {
        width: 80%;
        border-radius: 1rem;
        border: none;
        background-color: var(--btn);
        color: var(--bg);
        font-family: var(--roboto);
        font-weight: 900;
        padding: 1rem 2rem;
        cursor: pointer;
        margin: 5% 10%;
        font-size: 1.5rem;
        transition: var(--transition);
    }

    .contacto p {
        font-family: var(--roboto);
        font-size: 1rem;
        color: var(--sub-title);
        margin-bottom: 2rem;
    }

    .contacto a {
        color: var(--bg);
        font-weight: 900;
        font-family: var(--roboto);
        font-size: 1.15rem;
        transition: var(--transition);
        text-decoration: none;
        border-radius: 1rem;
        padding: 0.5rem 1rem;
        background-color: var(--btn);
    }

    .terminos {
        margin: 5%;
        width: 90%;
        height: auto;   
        display: flex;
        flex-direction: column;
        text-align: start;
        font-size: 1.15rem;
        transition: var(--transition);
    }

    .terminos ul li {
        color: var(--sub-title);
        list-style: circle;
        font-family: var(--open-sans);
    }

    .terminos p {
        margin-bottom: 2rem;
        color: var(--sub-title);
        font-family: var(--roboto);
    }

    .terminos ol li p a {
        color: var(--btn);
        font-weight: 900;
        text-decoration: none;
        transition: var(--transition);
    }

    .terminos ol li {
        list-style: decimal;
        color: var(--title);
        font-family: var(--roboto);
    }

    .terminos h2 {
        font-family: var(--montse);
        font-size: 2rem;
        color: var(--title);
        margin-bottom: 3rem;
    }

    .terminos h3 {
        font-family: var(--roboto);
        font-size: 1.5rem;
        color: var(--title);
        margin-bottom: 1rem;
    }

    .terminos h1 {
        text-align: center;
        font-family: var(--montse);
        font-size: 2.5rem;
        color: var(--title);
        margin-bottom: 3rem;
    }

}